body {
	background-color: #FEF1BD;
	font-family: 'Titillium Web', sans-serif;
	color: white;
	text-shadow: 3px 3px 3px #2A2954;
	letter-spacing: 2px;
}

/*Flip animation*/
.flip-wrap {
	background-color: transparent;
	width: 400px;
	height: 275px;
	border-radius: 15px;
	perspective: 1000px;
	position: absolute;
	top: 25%;
	left: 30%;
}
.flip-wrap:hover .flip {
	transition: transform 0.5s;
	transform: translateY(10px);
}
.flip-wrap:active .flip {
	transition: transform 1s;
	transform: translateY(10px) rotateY(180deg);
}
.flip {
	position: relative;
	width: 100%;
	height: 100%; 
	text-align: center;
	transition: transform 1s;
	transform-style: preserve-3d;
}
.front, .back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	border-radius: 15px;
	box-shadow: 15px 30px 35px #B9A863;
	background-image: linear-gradient(-30deg, #393773 30%, #A5E99C);
}

.reflection {
	background-color: white;
	opacity: 0.05;
	height: 500px;
	width: 100px;
	top: -75%;
	position: relative;
	overflow: hidden;
	transform: skewX(-20deg);
}

/*Mastercard logo*/
.red, .yellow {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-block;
	top: 76%;
	left: 82%;
	position: absolute;
}
.red {
	background-color: #eb001b;	
}
.yellow {
	margin-left: -20px;
	background-color: rgba(255, 209, 0, 0.6);
}

/*Front of card*/
.front {
	background-image: linear-gradient(30deg, #393773 30%, #A5E99C);
} 
.card-chip {
	width: 50px; 
	height: 35px;
	background-image: linear-gradient(120deg, #DBBD51 40%, #78682D);
	border-radius: 5px;
	position: relative;
	top: 20%;
	left: 10%;
}
.box {
	width: 17px;
	height: 5px;
	border: 1.3px solid #78682D;
	overflow: hidden;
}
.box1 {
	width: 10px;
	height: 10px;
	border: 1.3px solid #78682D;
	overflow: hidden;
}
.bl {
	float: left;
}
.br {
	float: right;
}
.b0 {
	border-radius: 5px 0 0 0;
}
.b1 {
	border-radius: 0 5px 0 0;
}
.b4 {
	width: 25px;
	height: 12px;
	border-radius: 0 0 0 5px;
}
.card-number {
	position: relative;
	top: 23%;
	right: 4%;
	font-size: 1.5rem;
	letter-spacing: 3px;
}
.name {
	top: 33%;
	left: 10%;
	font-size: 1rem;
	text-align: left;
	position: relative;
	line-height: 0.3;
	
}
.date {
	text-align: left;
	position: relative;
	top: 19%;
	left: 43%;
	line-height: 0.3;
}
.label {
	font-size: 0.6rem;
}

/*Back of card*/
.back {
	transform: rotateY(180deg);
}
.swipe {
	background-color: #15142A;
	width: 400px;
	height: 50px;
	border-radius: 10px;
	position: relative;
	top: 10%;
}
.swipe-reflect {
	background-color: #FFFDD8;
	opacity: 0.15;
	width: 25px;
	height: 50px;
	right: 25%;
	position: relative;
	display: inline-block;
	overflow: hidden;
	transform: skewX(-30deg);
}
.signature {
	background-color: #FEF9E7;
	width: 275px;
	height: 40px;
	border-radius: 5px;
	position: relative;
	top: 20%;
	left: 7%;
	overflow: hidden;
}
.stripe {
	background-color: #B9A863; 
	opacity: 0.25;
	width: 10px;
	height: 40px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	margin-right: 5px;
	transform: skewX(20deg);
}
.cvc {
	background: #FEF9E7;
	width: 50px;
	height: 40px;
	border-radius: 5px;
	position: relative;
	top: 6%;
	left: 80%;
	overflow: hidden;
}
.cvc p {
	margin: 4px auto;
	font-size: 1.3rem;
	text-shadow: none;
	color: black;
}
.fine-print {
	max-width: 250px; 
	font-size: 0.5rem;
	text-align: left;
	position: relative;
	top: 20%;
	left: 8%;
}