body {font-family: 'Montserrat', sans-serif;}

p,li {font-family: 'Roboto', sans-serif;}

header h1 {
	color: #181818;
	font-size: 3rem;
	margin: 0;
}

#title {color: #FF9D5B;}

h3 {text-align: center;}

header {text-align: center;}

header p {font-size: 1.7rem;}

strong {background-color: #FFE191;}

nav a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #2f2f2f;
}

nav {
	margin: 25px 15vw 0px 15vw;
	font-size: 1.6rem;
}

.logo {
	margin-left: 10px;
	display: inline;
}

.nav-items {
	display: inline;
	float: right;
}

.nav-items a {
	margin-right: 30px;
	color: #5d5d5d;
}

.nav-items a:hover {
	padding-bottom: 5px;
	border-bottom: 10px solid #78CC87;
	border-radius: 2px;
}

.nav-toggle img {
	position: absolute;
	top: 10px;
	right: 30px;
	height: 40px;
}

a.current {color: #78CC87;}

.welcome {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin: 5vw;
	margin-top: 150px;
	margin-bottom: 200px;
	height: 50vh;
}

.welcome-item {min-width: 500px;}

.welcome-item img {
	max-width: 450px;
	width: 100%;
	margin-left: 20px;
}

.features {
	display: flex;
	justify-content: center;
	margin-top: 25vh;
}

button:focus {outline: 0;}

.accordian {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	text-align: left;
	background-color: white;
	color: #dddddd;
	width: 300px;
	height: 70px;
	border: none;
}
.accordian:hover {
	cursor: pointer;
	color: #5d5d5d;
	transition: 0.5s linear;
}
.active {
	color: #5d5d5d;
}
.accordian::after {
	content: "";
	width: 300px;
	height: 2px;
	display: inline-block;
	background-color: #E8E8E8;
}
.openPanel {
	opacity: 1;
	padding-bottom: 15px;
	transition: 0.5s ease-in;
}
.panel {
	max-height: 0;
	overflow: hidden;
	color: #5d5d5d;
	margin-left: 5px;
	font-size: 1.2rem;
}
.panel a {
	font-size: 1rem;
	color: #dddddd;
	text-decoration: none;
}
.window {
	width: 450px;
	height: 400px;
	margin-left: 20px;
	background-color: #E8E8E8;
}

.process {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}
.process-item {
	width: 200px;
	text-align: center;
}

footer {
	background-color: aliceblue;
	height: 50vh;
	padding: 100px;
}

/*For XS screen*/
@media (max-width: 800px) {
	header h1 { 
		font-size: 2.2rem;
		text-align: center;
	}
	header p {font-size: 1.5rem;}

	nav {
		margin: 35px 20px 0px 20px;
		font-size: 1.3rem
	}
	.nav-items a {margin-right: 15px;}
	.features {
		flex-wrap: wrap;
		margin-top: 0;
	}
	.accordian {width: 85vw;}

	.accordian::after {display: block; width: 82vw;}
	
	.tabs {margin-bottom: 20px;}

	.window {
		margin-left: 0;
		width: 85vw;
	}
	.process {flex-wrap: wrap;}

	.process-item {width: 400px; margin-bottom: 50px;}
} 
/*For S screen*/
@media (max-width: 1250px) {
	.welcome {
		margin-top: 150px;
		margin-bottom: 250px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	.welcome-item {min-width: 0;}

	.welcome-item img {
		margin: 0 auto;
		margin-top: 70px;
	}
	.welcome-item p {
		text-align: center;
		margin: 25px 5px;
	}
}
