body {
    margin: 0;
}

header h1 {
	font-family: 'Montserrat', sans-serif;
	color: #181818;
	font-size: 3rem;
	margin: 0;
}

#text-animate {
	color: #79C6A7;
}

header h2 {
	font-family: 'Montserrat', sans-serif;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

header {
	text-align: center;
}

header p {
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
}

strong {
	background-color: #FFDA84;
}

nav a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #2f2f2f;
}

nav {
	margin: 25px 15vw 0px 15vw;
	font-size: 1.6rem;
}

.logo {
	margin-left: 10px;
	display: inline;
}

.nav-items {
	display: inline;
	float: right;
}

.nav-items a {
	margin-right: 30px;
	color: #5d5d5d;
}

.nav-items a:hover {
	padding-bottom: 5px;
	border-bottom: 10px solid #79c6a7;
	border-radius: 2px;
}

.nav-toggle img {
	position: absolute;
	top: 10px;
	right: 30px;
	height: 40px;
}

a.current {
	color: #79C6A7;
}

footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	background-color: #DEF4EE; 
}

.icons img {
	height: 35px;
	padding: 10px;
}

/*For XS screen*/
@media (max-width: 1250px) {
	h1 { 
		font-size: 2.3rem;
		text-align: center;
	}
	header p {
		font-size: 1.3rem;
	}
	nav {
		margin: 35px 20px 0px 20px;
		font-size: 1.3rem
	}
	.nav-items a {
		margin-right: 15px;
	}
}