@media (max-width: 946px) {
	.navLinks {
		display: flex;
		flex-wrap: wrap;
		border: 10px solid transparent;
	}
	.navLinks li {
		flex-direction: column;
		flex-basis: 500px;
		text-align: center;
		justify-content: center;
		margin-left: -40px;
		padding: 0;
	}
	.navLinks li:hover {
		background-color: #a0b5d8;
		border-radius: 5px;
	}
	.navContainer { 
		position: relative;
	}
	.fixedside {
		position: relative;
	}
	.sidebar {
		padding-top: 50px;
	}

}

@media (max-width: 672px) {
	.navLinks {
		margin-left: -10px;
	}
	.sidebar {
		margin-top: 10vw;
		position: relative;
	}
	.content {
		height: 100vh;
	}
	footer {
		margin-top: 350px;
	}
	
}