* {
	font-family: 'Roboto', sans-serif; 
	font-weight: 300;
}

h1 {
	text-align: center;
	color: #1F2A30;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
}

h2 {
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	font-weight: 800;
	text-shadow: 4px 4px 2px #1F2A30;
}

p {
	color: #123d82;
	font-size: 1.2em;
}

button {
	background-color: transparent;
	border: none;
	padding: 15px;
	margin: 5px;
	border-radius: 5px;
	font-size: 1.2em;
	text-align: center;
	width: 200px;
}

button:hover {
	background-color: #6B859A;
}

button a {
	text-decoration: none;
	color: white;
}

.navContainer ul { list-style: none;}

.navContainer a {
	text-decoration: none;
	color: #123d82;
}
.navLinks li {
	font-size: 1.25em;	
	display: inline;
}

.navLinks li:hover {
	background-color: white;
	border-radius: 5px;
}

#logo {
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}

#logo img { height: 30px; }

.navContainer {
	display: flex;
	position: absolute;
	width: 100vw;
	flex-wrap: wrap;
	z-index: 2;
}

.navbar {
	flex-grow: 1;
	border: 10px solid transparent;
}

.navLinks {
	padding-right: 5vw;
	text-align: right;

}

.navLinks ul {
	display: flex;
	height: auto;
}

.navLinks li {
	padding: 5px;
	font-size: 1.5em;
	border: 10px solid transparent;
	flex-grow: 1;
}

.navLinks a {
	width: 100vw;
}

.container {
	display: flex;
	height: 150vh;
	flex-wrap: wrap;
}

.item {
	border: 10px solid transparent;
	flex-grow: 1;
}

.sidebar {
	padding-top: 150px;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
	flex-basis: 250px;
	flex-shrink: 3;
	background-color: #BFCBCB;
	text-align: center;
	vertical-align: middle;
}

.sidebar img {
	max-width: 300px;
	max-height: 300px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.content {
	padding: 35px;
	padding-top: 150px;
	flex-basis: 500px;
	flex-grow: 9;
	background-image: url("../images/headerimage.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.card {
	background-color: #2B475A;
	margin: 50px;
	padding: 50px;
	color: white;
	box-shadow: 5px 5px 2px #1F2A30;
	margin-right: 10vw;
	margin-left: 10vw;
}

#contact {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 1em;
}

#contact img {
	padding-left: 5px;
	padding-right: 5px;
	height: 40px;
	width: auto;
}

#copyright {
	font-size: .7em;
}

footer { 
	background-color: white;
	text-align: center;
	vertical-align: middle;
	
}